.sidePanelContainer {
    width: 20%;
    height: 100vh;
    background-color: rgb(76, 76, 77);
    top: 0;
    left: 0;
}

.sidePanelHeader {
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
    align-items: center;
    background-color: purple;
    text-align: center;
    height: 10%;
}

.collectionTypesHeader {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    align-items: center;
}

.collectionTypesHeader > img {
    width: 2rem;
    height: 2rem;
}

.collectionTypesHeader > h3  {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.collectionType {
    padding-left: 5%;;
}

.contentTypeBuilder {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 5%;
}

.collectionTypes {
    max-height: 50vh;
    overflow-y: scroll;
}