.contentTypePanelContainer {
    width: 30%;
    background-color: aliceblue;
    flex-direction: column;
    align-items: center;
    gap: 3%;
    height: 90vh;
    overflow: auto;
}

.contentTypePanelHeader {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    align-items: center;
}

.contentTypePanelHeader > img {
    width: 2rem;
    height: 2rem;
}

.NewType {
    width: 90%;
    color: blue;
    font-weight: bold;
    border: 2px dotted blue;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    padding: 5%;
}

.contentType {
    display: flex;
    justify-content: space-between;
    width: 90%;
    color: black;
    font-weight: bold;
    padding: 5%;
    background-color: white;
    margin: 5px auto;
    border-radius: 10px;
    overflow: auto;
}

.contentTypes {
    width: 100%;
    height: 75vh;
    overflow: auto;
    cursor: pointer;
}

.contentType:focus {
    background-color: lightblue;
}